* {
	box-sizing: border-box;
	background-color: #2E3440;
}

body {
	color: #E5E9F0;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

h1 {
	font-weight: 600;
	font-size: 32px;
	margin: 0;
	text-align: left;
}

h3 {
	font-weight: 600;
	font-size: 23px;
	margin: 0;
	text-align: left;
}

p {
	font-weight: 300;
	font-size: 23px;
	line-height: 50px;
	margin: 10px 0px 20px 0px;
	color: white;
}

a, a:visited {
	color: white;
	text-decoration-color: #4C566A
}

a:hover {
	text-decoration-color: #88C0D0;
}

.link-1:hover {
	text-decoration-color: #B48EAD;
}

.link-2:hover {
	text-decoration-color: #8FBCBB;
}

.link-3:hover {
	text-decoration-color: #D08770;
}

.link-4:hover {
	text-decoration-color: #A3BE8C;
}

.link-5:hover {
	text-decoration-color: #EBCB8B;
}

.link-6:hover {
	text-decoration-color: #BF616A;
}

.link-7:hover {
	text-decoration-color: #5E81AC;
}

.link-8:hover {
	text-decoration-color: #81A1C1;
}

.link-9:hover {
	text-decoration-color: #88C0D0;
}

.content {
	position: relative;
	margin: 10vh auto 10vh auto;
	height: auto;
	width: 80vw;
	max-width: 800px;
}

.monospace {
	font-family: Monaco, "Lucida Console", monospace;
	font-size: 18px;
}

.dense {
	line-height: 30px;
}