* {
	box-sizing: border-box;
}

:root {
  --main-bg-color: #fdf6e3;
	--alt-bg-color: #d2dce5;
	--accent-color-one: #f4c16e;
	--accent-color-two: #886c3f;
	--accent-color-three: #859900;
	--accent-color-four: #BF616A;
	--accent-color-five: #88C0D0;
	--font-weight-default: 400;
	--font-weight-slightly-thicker: 600;
	--font-weight-slightly-thinner: 300;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	padding: 0;
	color: #33302f;
	background-color: var(--main-bg-color);
	font-weight: var(--font-weight-default);
}

h3 {
	color: var(--accent-color-two);
	font-size: 23px;
	margin: 0;
	text-align: left;
}

p {
	font-size: 23px;
	line-height: 50px;
	margin: 10px 0px 20px 0px;
	
}

a, a:visited {
	color: var(--accent-color-one);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.content {
	position: relative;
	height: auto;
	min-height: 100vh;
}

.width-limited {
	width: 80vw;
	max-width: 1000px;
	margin: auto;
}

.nav {
	padding-top: 50px;
	padding-bottom: 50px;
}

.links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-wrapper {
	background-color: var(--alt-bg-color);
	margin-top: 50px;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}
.bg-primary {
	background-color: var(--main-bg-color);
	margin: 0;
	padding: 0;
	border: 0;
}

/* Mobile settings. */
@media only screen and (max-width: 600px) {
	.links {
		flex-direction: column;
		align-items: center;
	}
	body {
		font-weight: var(--font-weight-slightly-thinner);
	}
	p {
		font-size: 20px;
	}
	h3 {
		font-size: 20px;
	}
}